@tailwind base;
@tailwind components;
@tailwind utilities;

.font-changa {
  font-family: "Changa", sans-serif;
}
.font-play {
  font-family: "Play", sans-serif;
}
.font-start {
  font-family: "Press Start 2P", cursive;
}
.font-teko {
  font-family: "Teko", sans-serif;
}